body {
    background-color:rgb(148, 148, 148, 1);
    background-image: url('Images/crumpled-paper.jpg');
    text-align: center;
    font-family: "IBM Plex Sans", sans-serif;

    /** disable scrolling **/
    margin: 0;
    height: 100vh;
    /* overflow: hidden; */
}
#app-layout {
    display:grid;
    justify-items: center;
    align-items: center;
    background-color: rgba(131, 130, 130, 0.147);
    height:100vh;
    grid-template-columns: 1.5fr 3fr 1.2fr;
}
#app-layout.end-game {
    grid-template-columns: 4fr 3fr 4fr;
}

.grid-box {
    display: inline-block;
    background-color: white;
    border-radius: 12px;
}
.label {
    width:50%;
    line-height: 3rem;
}


#players {
    height: 320px;
    width: 220px;
}

.scorebox {
    border: 1px solid black; 
    margin-right:10px; 
    padding:2px;
}
.scorebox-small {
    margin-right: 2px !important;
}

#story-box {
    height: 400px;
    width: 18vw;
    overflow-wrap: break-word;
    overflow-y: scroll;
    padding: 10px;
}


#story-input-area {
    height: 12vh;
    width: 200px;
}

#submit-story-button {
    font-size: medium;
}

#story-submissions-container {
    height: 23vh;
    width:16vw;
    overflow-y: scroll;
    overflow-wrap: break-word;
    justify-items: center;
    align-items: center;
    padding:5px;
}



.submission-section {
    width: 64%;
    float: left;
    padding:7px;
}

.vote-section {
    width: 24%;
    float: left;
    display:flex;
    padding:7px;
}

.tool-button-small {
    height: 35px !important;
    width: 35px !important;
}


.tool-box
{
    height: 700px;
    width: 150px;
    right: 0;
    top: 100px;
    padding-top: 50px;
}

#rating {
    width:16vw;
    height:100px;
    padding-top:25px
}
#rating-title {
    margin-top:0px;
}

#game-controls
{
    bottom: 10px;
    right: 10px;
}

#color-red
{
    background-color: red;
}

#color-orange
{
    background-color: orange;
}


#color-yellow
{
    background-color: yellow;
}

#color-green
{
    background-color: green;
}


#color-blue
{
    background-color: blue;
}


#color-purple
{
    background-color: purple;
}

#color-black
{
    background-color: black;
}


.tool-button
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    background-color: #00000000;
    cursor: pointer;
}
.tool-button:hover {
    background-color: #0000000a;
}
.tool-small {
    height: 25px;
    width: 25px;
}

.rating-button{
    border-radius: 50%;
    height: 40px;
    width:40px;
    border:none;
    cursor:pointer;
    background-color: #c4c4c4;
    margin-top: 5px;
    margin-bottom:5px;
}
.rating-button:hover {
    background-color: #c4c4c4b1;
}



#canvas {
    top: 100;
    bottom: 0;
    left: 0;
    height: 75vh;
    width: 95vh;
    touch-action: none;
    outline: black solid 10px;
    margin: 10px;
}

#canvas.end-game {
    height: calc(75vh*.6);
    width: calc(95vh*.6);  
    top: 50%;
    bottom: 50%;
    margin-top: 50%;
}

#canvas.enabled {
    outline-color: green;
}

#canvas.disabled {
    outline-color: red;
}

.hidden {
    display: none;
}


.game-button {
    background-color: white;
    border: none;
    border-radius: 12px;
    padding: 5px;
    margin-top: 1rem;
    font-size: 2.5vh;
    font-family: 'IBM Plex Sans', sans-serif;
}
.game-button:hover {
    background-color: #bdbdbd;
    cursor: pointer;
    border: none;
}
.game-button.download {
    color: white;
    background-color: green;
    font-size: 2em;
    padding: 20px;
    bottom: 20px;
}
.game-button.download:hover {
    background-color: rgb(6, 77, 6);
}

.download-button-container {
    /* empty */    
}

#prompt {
    background-color: white;
    padding: 5px;
    border-radius: 12px;
}

#prompt-container {
    font-size: x-large;
    margin: 25px 0px;
    margin-bottom: 30px;
}

#enter-name-text {
    font-size: x-large;
}

.icon-button {
    font-size: 1.5em;
}

.selected {
    /* border-radius: 5px; */
    outline-color: rgb(85, 201, 85);
    outline-style: solid;
    outline-width: 5px;
}