body {
    background-color:rgb(148, 148, 148);
    display: flex;
    justify-content: space-between;
    font-family: "IBM Plex Sans", sans-serif;

    /** disable scrolling **/
    margin: 0;
    height: 100vh;
    /* overflow: hidden; */
}

#tools
{
    position: absolute;
    background-color: white;
    height: 700px;
    width: 100px;
    right: 0;
    top: 100px;
    border-radius: 12px;
    margin-right: 20px;
    padding-top: 50px;
}

#game-controls
{
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#color-red
{
    background-color: red;
}

#color-orange
{
    background-color: orange;
}


#color-yellow
{
    background-color: yellow;
}

#color-green
{
    background-color: green;
}


#color-blue
{
    background-color: blue;
}


#color-purple
{
    background-color: purple;
}

#color-black
{
    background-color: black;
}


.tool-button
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 25px;
    cursor: pointer;
}


canvas {
    top: 100;
    bottom: 0;
    left: 0;
    touch-action: none;
    position: absolute;
}

.game-button {
    background-color: white;
    border: none;
    border-radius: 12px;
    height: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.game-button:hover {
    background-color: #bdbdbd;
    cursor: pointer;
    border: none;
}

#prompt {
    background-color: white;
    padding: 5px;
    border-radius: 12px;
}

.icon-button {
    font-size: 1.5em;
}

