body {
    background-color:rgb(148, 148, 148);
    display: flex;
    justify-content: space-between;

    /** disable scrolling **/
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#tools
{
    position: absolute;
    right: 0;
    top: 100px;
}

#color-red
{
    background-color: red;
}

#color-orange
{
    background-color: orange;
}


#color-yellow
{
    background-color: yellow;
}

#color-green
{
    background-color: green;
}


#color-blue
{
    background-color: blue;
}


#color-purple
{
    background-color: purple;
}

#color-black
{
    background-color: black;
}


.tool-button
{
    height: 50px;
    width: 50px;
}


canvas {
    position: absolute;
    top: 100;
    bottom: 0;
    left: 0;
    touch-action: none;
}

